#calendar-container {
	padding: 15px 0 15px 15px;
	float: left;
	position: absolute;
	margin-top: 3px;	
	border : 1px solid #e0e0e0;
	background-color : white;
}

table {
	position: relative;
	margin-right: 15px;
	float: left;
	padding-top : 20px;
	margin-top : -20px;
	
	-webkit-box-shadow: 0px 4px 8px 0px #a2a2a2;
	-moz-box-shadow: 0px 4px 8px 0px #a2a2a2;
	box-shadow: 0px 4px 8px 0px #a2a2a2;
}

table {
	font-family : "Helvetica Neue" Arial, Sans-Serif;
	table-layout: fixed;
	overflow: hidden;
	border-spacing: 0;	
	background: #e3e2e5;
	background: -moz-linear-gradient(top, #e3e2e5 0%, #c8c8cd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3e2e5), color-stop(100%,#c8c8cd));
	background: -webkit-linear-gradient(top, #e3e2e5 0%,#c8c8cd 100%);
	background: -o-linear-gradient(top, #e3e2e5 0%,#c8c8cd 100%);
	background: -ms-linear-gradient(top, #e3e2e5 0%,#c8c8cd 100%);
	background: linear-gradient(top, #e3e2e5 0%,#c8c8cd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e2e5', endColorstr='#c8c8cd',GradientType=0 );	
}

th {
	background: #e3e3e6;
	background: -moz-linear-gradient(top,  #e3e3e6 0%, #ccccd1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3e3e6), color-stop(100%,#ccccd1));
	background: -webkit-linear-gradient(top,  #e3e3e6 0%,#ccccd1 100%);
	background: -o-linear-gradient(top,  #e3e3e6 0%,#ccccd1 100%);
	background: -ms-linear-gradient(top,  #e3e3e6 0%,#ccccd1 100%);
	background: linear-gradient(top,  #e3e3e6 0%,#ccccd1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e6', endColorstr='#ccccd1',GradientType=0 );
}

caption, td, th, .prev, .next {
	color: rgb(55,68,82);
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

caption, td {
	font-size : 11px;
	font-weight : bold;
}

th, .prev, .next {
	font-size : 10px;
}

[aria-selected="true"] {
	background-color: #1980e5;
	color: White;
	font-weight: bold;
	border: 1px solid #364f72;
	
	-webkit-box-shadow: inset 0px 0px 1px 0px #364F72;
	-moz-box-shadow: inset 0px 0px 1px 0px #364F72;
	box-shadow: inset 0px 0px 1px 0px #364F72;
	
	text-shadow: 1px 1px 0 #364F72;
	filter: dropshadow(color=#364F72, offx=1, offy=1);
}

[aria-disabled="true"] {
	color: #8c929a;
}

td, th {
	height : 20px;
	width: 20px;
	text-align : center;
	cursor: default;
	border-bottom: 1px solid rgb(165,169,177);
}

td {
	border-top: 1px solid rgb(241,241,241);
	border-right: 1px solid rgb(241,241,241);
	border-left: 1px solid rgb(165,169,177);	
}

th abbr 
{
    letter-spacing: -1px;
}

[aria-disabled="false"]:hover {
	background: #6db3f2;
	background: -moz-linear-gradient(top,  #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6db3f2), color-stop(50%,#54a3ee), color-stop(51%,#3690f0), color-stop(100%,#1e69de));
	background: -webkit-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%);
	background: -o-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%);
	background: -ms-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%);
	background: linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 );	
	color: White;
	border: 1px solid #364f72;	
	text-shadow: 1px 1px 0 #364F72;
	filter: dropshadow(color=#364F72, offx=1, offy=1);	
	cursor: pointer;
}

.prev, .next {
	position: absolute;
	cursor: pointer;
	padding: 3px 6px;
}

.prev:hover, .next:hover
{
    text-decoration: underline;
}

.next {
	right: 0;
}

.prev {
	left: 0;
}

caption {
	background: #f6f6f7;
	background: -moz-linear-gradient(top,  #f6f6f7 0%, #e5e5e8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f7), color-stop(100%,#e5e5e8));
	background: -webkit-linear-gradient(top,  #f6f6f7 0%,#e5e5e8 100%);
	background: -o-linear-gradient(top,  #f6f6f7 0%,#e5e5e8 100%);
	background: -ms-linear-gradient(top,  #f6f6f7 0%,#e5e5e8 100%);
	background: linear-gradient(top,  #f6f6f7 0%,#e5e5e8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f7', endColorstr='#e5e5e8',GradientType=0 );	
	line-height: 20px;
	text-align: center;
	font-weight: bold;
	position : relative;
	top : 20px;
}